.navbar-line{
    border-bottom: 3px solid green;
}


h1{
    color: green ;
}

p1{
    text-transform: capitalize;
    
}

.bt:hover{
    transition: .5s ease;
    transform: scale(1.01);
    
}

.sign-button{
    border-radius: 40px;
    float: right;
}


.service:hover{
    transition: .5s ease;
    transform: scale(1.10);
}


.button-style{  
    color:  white;
    background-color: rgb(46, 250, 0);
    border-radius: 30px;
    border: none;
    padding: auto;
    width: 200px;
    height: 40px;
    /* border: 2px solid green; */
}

h2{
    color: green;
    text-align: center;
}

h3{
    text-align: center;
}
 
.img1{
    height:50px;
    width: 50;
}



.p2{
    text-align: start;
    font-size: 10px;
}

.color{
    color: green;
}
/* 
.pro{
    padding-left: 100px;
} */

.star{
    color: green;
}


.mobile-1{
    position: absolute;
    height: 85%;
    margin-top: -118%;
}

.mobile-2{
    height: 95%;
}

.two-mobiles{
    position: relative;
}

.take-this{
    background: linear-gradient(to right, green, rgb(96, 224, 22));
}

/* .mobile-2{
    max-width: 80%;
    height: auto;
    position: absolute;
    left: 50px;
    z-index: 9;
} */

/* .two-mobiles{
    position: relative;
    width: 500px;
    height: 500px;
} */

.max{
    float: left;
    padding-right: 30px;
}

.check-this{
    padding-top: 20%;
}

.b2{
    
    color: rgb(255, 255, 255);
    background-color: green;
    border-radius: 30px;
    border: none;
    padding: auto;
    width: 200px;
    height: 40px;
    
}

.img3{
    border-radius: 50%;
    

}

.h6{
    background-color: green;
    height: 150px;
    text-align: center;
    color: aliceblue;
    border: 20px;
    text-decoration: solid;
}

.h7{
    background-color: rgb(43, 42, 42);
    height: 60px;
    text-align: start   ;
    color: aliceblue;
    border: 20px;
    
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: black;
}

.social{
    color: green;
}

.top{
    background-color: green;
    justify-content: space-between;
}

.last{
    color: rgb(255, 255, 255);
    background-color: green;
    border: none;
    padding: auto;
    border: 2px solid green;
}

.last:hover{
    transition: .5s ease;
    transform: scale(1.01);
    
}


@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,700);

.testimonial9 .customer-thumb img {
  width: 60px;
}


.boss{
    color:  white;
    background-color: rgb(46, 250, 0);
    border-radius: 30px;
    border: none;
    padding: auto;
    width: 200px;
    height: auto;
    
}

@media only screen and (max-width: 600px) {
    .two-mobiles .mobile-2{
        max-width: 90% !important;
    }

    .mobile-1{
        margin-top: 10px;
        margin-left: -350px !important;
    }

    .check-this{
        padding: 0;
    }
}