.navbar-line{
    border-bottom: 3px solid green;
}


h1{
    color: green ;
}

p1{
    text-transform: capitalize;
    
}

.bt:hover{
    transition: .5s ease;
    transform: scale(1.01);
    
}

.sign-button{
    border-radius: 40px;
    float: right;
}


.service:hover{
    transition: .5s ease;
    transform: scale(1.10);
}


.button-style{
    
    color: green;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border: none;
    padding: auto;
    width: 200px;
    height: 40px;
    border: 2px solid green;
}

h2{
    color: green;
    text-align: center;
}

h3{
    text-align: center;
}
 
.img1{
    height:50px;
    width: 50;
}



.p2{
    text-align: start;
    font-size: 10px;
}

.color{
    color: green;
}
/* 
.pro{
    padding-left: 100px;
} */

.star{
    color: green;
}

.float{
    float: right;
    padding-bottom: 100px;
    height: auto;
    max-width: 50%;
} 

.mobile-1{
    position: absolute;
    height: 95%;
    margin-top: -125%;
}



.two-mobiles{
    position: relative;
}

/* .mobile-2{
    max-width: 80%;
    height: auto;
    position: absolute;
    left: 50px;
    z-index: 9;
} */

/* .two-mobiles{
    position: relative;
    width: 500px;
    height: 500px;
} */

.max{
    float: left;
    padding-right: 30px;
}

.b2{
    
    color: rgb(255, 255, 255);
    background-color: green;
    border-radius: 30px;
    border: none;
    padding: auto;
    width: 200px;
    height: 40px;
    
}

.img3{
    border-radius: 50%;
    

}

.h6{
    background-color: green;
    height: 150px;
    text-align: center;
    color: aliceblue;
    border: 20px;
    text-decoration: solid;
}

.h7{
    background-color: rgb(43, 42, 42);
    height: 60px;
    text-align: start   ;
    color: aliceblue;
    border: 20px;
    
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: black;
}

.social{
    color: green;
}

.top{
    background-color: green;
    justify-content: space-between;
}

.last{
    color: rgb(255, 255, 255);
    background-color: green;
    border: none;
    padding: auto;
    border: 2px solid green;
}

.last:hover{
    transition: .5s ease;
    transform: scale(1.01);
    
}


@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,700);
.testimonial9 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}

.testimonial9 h1, .testimonial9 h2, .testimonial9 h3, .testimonial9 h4, .testimonial9 h5, .testimonial9 h6 {
  color: #3e4555;
}

.testimonial9 .bg-light {
    background-color: #f4f8fa !important;
}

.testimonial9 h5 {
	line-height: 30px;
	font-size: 18px;
}

.testimonial9 .font-13 {
	font-size: 13px;
}



.testimonial9 .card::after {
  position: absolute;
  bottom: -15px;
  left: 35px;
  content: '';
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #ffffff;
}

.testimonial9 .devider {
  height: 2px;
  width: 40px;
}

.testimonial9 .bg-info {
    background-color: #188ef4 !important;
}

.testimonial9 .customer-thumb img {
  width: 60px;
}


.boss{
    color: green;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border: none;
    padding: auto;
    width: 200px;
    height: auto;
    border: 2px solid green;
}

@media only screen and (max-width: 768px) {
    
}